{% extends "base_generic.html" %}

{% block navbar %}
  <nav class="nav nav-masthead">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
    <a class="nav-link active" href="{% url 'projects' %}">Projects</a>
  </nav>
{% endblock %}

{% block content %}
  <h1>Projects Seeking Donations</h1>
  <p>Welcome to CRIBDS, a website developed by <em>us</em>!</p>
  <h2>Projects you can donate to:</h2>
  <ul>
    <li><strong>P1:</strong> {{ var1 }}</li>
    <li><strong>P2:</strong> {{ var2 }}</li>
    <li><strong>P3:</strong> {{ var3 }}</li>
    <li><strong>P4:</strong> {{ var4 }}</li>
  </ul>
{% endblock %}