{% extends "base_generic.html" %}

{% block navbar %}
<nav class="nav nav-masthead">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
    <a class="nav-link active" href="{% url 'projects' %}">Projects</a>
  </nav>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{ project.title|title }}
    </h1>
    
    <!-- Portfolio Item Row -->
    <div class="row">
    
        <div class="col-md-8">
        <img class="img-fluid" src="{{ img.img }}">
        </div>
    
        <div class="col-md-4">
        <h3 class="my-3">{{ refugee.first_name|title }} {{ refugee.last_name|title }}'s Project</h3>
        <div class="detail-box">
            <p>Looking to raise ${{ project.funds_needed|floatformat:2 }}</p>
            <p>Refugee Location: {{ camp.name|title }}</p>
            <p>Refugee Hometown: {{ town.town|title }}</p>
            <p>Created on {{ project.submission_date|date:"F j, o" }}</p>
            <h3 class="my-4">About the Project</h3>
            <p>{{ project.description }}</p>
            <br>
            <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif">
        </div>
        </div>
    
    </div>

    
{% endblock %}