{% extends "base_generic.html" %}

{% block navbar %}
<nav class="nav nav-masthead">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
    <a class="nav-link active" href="{% url 'projects' %}">Projects</a>
  </nav>
{% endblock %}

{% block content %}
  <div class="inner cover">

      <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
              <form class="card card-sm" method="GET" action="/projects/">
                  <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                          <i class="fas fa-search h4 text-body"></i>
                      </div>
                      <!--end of col-->
                      <div class="col">
                          <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search projects" name="q">
                      </div>
                      <!--end of col-->
                      <div class="col-auto">
                          <button class="btn btn-lg btn-secondary" type="submit">Search</button>
                      </div>
                      <!--end of col-->
                  </div>
              </form>
          </div>
          <!--end of col-->
      </div>

      <br>
    
  <div class="container">    
      <div class="row">
        {% for project in data %}
          <div class="col-sm-4">
            <div class="project-card">
              <div class="panel-body"><a href="/projects/{{ project.id }}"><img src="{{ project.img }}" class="img-responsive" style="width:100%; height:200px;" alt="Image"></a></div>
              <div class="panel-heading"><b>{{ project.title|title }}</b></div>
              <div class="panel-footer">{{ project.description }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div><br>
  </div>
{% endblock %}